# 🛠 Python
__pycache__/
*.py[cod]
*$py.class

# 🛠 C extensions
*.so

# 🛠 Packaging & Distribution
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# 🛠 PyInstaller
*.manifest
*.spec

# 🛠 Installer logs
pip-log.txt
pip-delete-this-directory.txt

# 🛠 Unit tests & coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# 🛠 Translations
*.mo
*.pot

# 🛠 Django stuff
local_settings.py
db.sqlite3
db.sqlite3-journal
*.sqlite3
*.db
*.db-journal

# 🛠 Flask
instance/
.webassets-cache

# 🛠 Logs
logs/
*.log
*.log~  # Временные файлы логов
**/bot.log
bot.log
*.log-*

# 🛠 Docker
.dockerignore

docker-compose.override.yml
docker-compose.yml~

# 🛠 IDEs & Editors
.idea/
.vscode/
*.swp
*.sublime-project
*.sublime-workspace

# 🛠 Temporary & Backup Files
*.tmp
*.bak
*.~tmp
*.save
*.swp
*~
# Игнорируем резервные файлы, создаваемые редакторами
*.orig
*.rej
*.backup

# 🛠 Static files & Media
/staticfiles/
/media/
/assets/
uploads/
uploads_tmp/

# 🛠 Virtual Environments
.env
.env.*
.venv/
venv/
ENV/
env.bak/
venv.bak/
__pypackages__/

# 🛠 Celery
celerybeat-schedule
celerybeat.pid

# 🛠 Static type checkers
.mypy_cache/
.pytype/
.pyre/
.dmypy.json
dmypy.json

# 🛠 Debugging
cython_debug/
debug.log

# 🛠 Deployment files
*.yml~
*.cfg~

# 🛠 Extra files
Thumbs.db
.DS_Store
*.crt
*.pem
*.key
[admin_bot]
[celery]
[client_bot]
[web]
