# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
*.sqlite3
*.db
*.db-journal

# Flask stuff
instance/
.webassets-cache

# Static files and media
/staticfiles/
/media/
/assets/
/uploads/

# Logs
*.log
*.log~
**/bot.log
bot.log
*.log-*

# Docker
.dockerignore
Dockerfile
Dockerfile.*
docker-compose.yml
docker-compose.override.yml
docker-compose.yml~

# IDEs and Editors
.idea/
.vscode/
*.swp
*.sublime-project
*.sublime-workspace

# Temporary files
*.tmp
*.bak
*.~tmp
*.save

# Environments
.env
.env.*
.venv/
venv/
ENV/
env.bak/
venv.bak/
__pypackages__/

# Celery
celerybeat-schedule
celerybeat.pid

# Static type checkers
.mypy_cache/
.pytype/
.pyre/
.dmypy.json
dmypy.json

# Debugging
cython_debug/
debug.log

# Files for deployment
*.yml~
*.cfg~
